<div>
    <div class="text-center row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1><strong>Delete Campaign !</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Are you sure you want to delete this campaign?</p>
        </div>
    </div>
    <div class="text-center row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button mat-raised-button (click)="onCancel()" color="primary">Cancel</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button mat-raised-button (click)="onCorfim()" color="warn">Delete</button>
        </div>
    </div>
</div>